/* TO COPY

.top-left3 {

}

.top-middle-notstick3 {

}


.top-middle-stick-parent3 {

}

.top-middle-stick {

}

.top-right-notstick{

}

.top-right-stick-parent {

}

.top-right-stick {
    
}

*/



/* 1# & 2# */



.top-left {
    
}




.top-middle-notstick {
    display:block;
    margin: 0 auto;
    width:min-content;
    text-align:center;
}



.top-middle-stick-parent {
    overflow:hidden;
    min-width:800px;
}
.top-middle-stick {
    display:block;
    margin: 0 auto;
    width:min-content;
    text-align:center;
}






.top-right-notstick {
    display:inline-block;
    width:100%;
    text-align:right;
}




.top-right-stick-parent {
    display:inline-block;
    overflow:hidden;
    width:100%;
    min-width:1200px;
}

.top-right-stick {
    display:inline-block;
    width:100%;
    text-align:right;
}


/*------------------------ 3 & 4-----------------------*/

/* white-sapce */
.header-parent3 {
    white-space: nowrap;
}


.top-left3-notstick3 {
    display:inline-block;
    width:50%;
}

.top-right-notstick3{
    display:inline-block;
    width: 50%;
    text-align:right;
}



.top-left3-stick3 {
    display:inline-block;
    width:50%;
    min-width:600px;
}


.top-right-stick-parent3 {
    display:inline-block;
    width: 50%;
    min-width:600px;

}

.top-right-stick3 {
    text-align:right;
}

/*------------------------ 5-----------------------*/

/*whitespace in inline blocks are included when considering width */
.header-parent5 {
    white-space:nowrap;
    height:50px;
    background-color: red;

}

.top-left-stick5 {
    display: inline-block;
    width:33.33333%;
    min-width: 220px;

}

.top-middle-stick5 {
    display: inline-block;
    width:33.33333%;
    text-align:center;
    min-width: 100px;
}

.top-right-stick5 {
    display: inline-block;
    width:33.333333%;
    text-align:right;
    min-width: 200px;

}

.top-right-content {
    display: inline-block;
    text-align:right;

}


/*------------------------6&7-----------------------*/
/*white-space prevents columns wrapping below*/

.header-parent6 {
    white-space: nowrap;
    line-height:50px;
    background-color: red;
}

.top-left-stick6 {
    display: inline-block;
    width:33.333%;
    min-width: 200px;
}

.top-left-content6 {
    display: inline-block;

}

.top-middle-content6 {
    display: inline-block;

}

.top-right-content6 {
    display: inline-block;
    text-align:right;
}

.top-middle-stick6 {
    display: inline-table;
    width:33.333%;
    text-align:center;
    min-width: 200px;   
}

.top-middle-stick6 img{
    display:table-cell;
    max-height:30px;
    vertical-align:middle;
}

.top-right-stick6 {
    display: inline-block;
    width:33.333%;
    text-align:right;
    min-width: 200px;
}

/*------------------------6&7-----------------------*/
/*white-space prevents columns wrapping below*/

.header-parent6 {
    white-space: nowrap;
    line-height:50px;
    background-color: red;
}

.top-middle-stick6 {
    display: inline-block;
    width:33.333%;
    min-width: 200px;
    text-align:center;
}

.top-middle-content6 {
    display: inline-block;
}



.top-right-content6 {
    display: inline-block;
    text-align:right;
}

.top-left-stick6 {
    display: inline-block;
    width:33.333%;
    text-align:left;
    min-width: 200px;   
}

.top-left-content6 {
    display: inline-block;
}

.top-left-content6 img{
    display:table-cell;
    max-height:30px;
    vertical-align:middle;
}

.top-right-stick6 {
    display: inline-block;
    width:33.333%;
    text-align:right;
    min-width: 200px;
}